.contactList {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
  list-style: none;
}

.contactItem {
  flex: 0 1 calc(25% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #f9f9f9;
}
